<ion-header>
    <ion-toolbar>

    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column text-center mt-5">

        <div class="inner cover d-flex flex-column bd-highlight mb-3 height500">
            <div class="form-group mx-sm-3 mb-2 d-flex justify-content-between">
                <input class="form-control" #todo (keydown.enter)="addTodo(todo)">
                <ion-button class="btn btn-primary ml-3" (click)="addTodo(todo)">Add todo</ion-button>
            </div>

            <ul>
                <li class="text-left handCursor" *ngFor="let todo of todos$ | async | visibleTodos:currentFilter"
                    (click)="onTodoClick(todo.id)" [style.textDecoration]="todo.completed?'line-through':'none'">
                    {{todo.text}} <a class="text-right text-danger"
                        (click)="removeTodo(todo.id); $event.stopPropogation">X</a>
                </li>
            </ul>
            <p class="mt-auto p-2 bd-highlight">
                <ion-button (click)="applyFilter('SHOW_ALL');" class="btn btn-sm"
                    [ngClass]="{'btn-primary': currentFilter==='SHOW_ALL', 'btn-secondory': currentFilter!='SHOW_ALL'}">
                    All</ion-button>&nbsp;
                <ion-button (click)="applyFilter('SHOW_ACTIVE');" class="btn btn-sm"
                    [ngClass]="{'btn-primary': currentFilter==='SHOW_ACTIVE', 'btn-secondory': currentFilter!='SHOW_ACTIVE'}">
                    Active</ion-button>&nbsp;
                <ion-button (click)="applyFilter('SHOW_COMPLETED');" class="btn btn-sm"
                    [ngClass]="{'btn-primary': currentFilter==='SHOW_COMPLETED', 'btn-secondory': currentFilter!='SHOW_COMPLETED'}">
                    Completed</ion-button>
            </p>
        </div>

    </div>
</ion-content>