<ion-header>
    <ion-toolbar>
        <ion-title>Todo App</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-row>
        <ion-input #todo (keydown.enter)="addTodo(todo)" placeholder="Enter Title"></ion-input>
        <ion-button round size="small" (click)="addTodo(todo)">Add todo</ion-button>
    </ion-row>
    <div style="margin-top: 50px">
        <ion-list>
            <ion-item *ngFor="let todo of todos$ | async | visibleTodos:currentFilter" (click)="onTodoClick(todo.id)"
                [style.textDecoration]="todo.completed?'line-through':'none'">
                <ion-label>
                    <h2>{{todo.text}} </h2>
                </ion-label>
                <ion-badge slot="end" color="danger" (click)="removeTodo(todo.id)" fill="outline">
                    X
                </ion-badge>
            </ion-item>
        </ion-list>
    </div>





</ion-content>

<ion-footer>
    <ion-toolbar>
        <div style="text-align: center">
            <ion-button size="small" (click)="applyFilter('SHOW_ALL');"
                [color]="currentFilter==='SHOW_ALL'? 'primary' : 'light'">
                All</ion-button>&nbsp;
            <ion-button size="small" (click)="applyFilter('SHOW_ACTIVE');" class="btn btn-sm"
                [color]="currentFilter==='SHOW_ACTIVE'? 'primary' : 'light'">
                Active</ion-button>&nbsp;
            <ion-button size="small" (click)="applyFilter('SHOW_COMPLETED');" class="btn btn-sm"
                [color]="currentFilter==='SHOW_COMPLETED'? 'primary' : 'light'">
                Completed</ion-button>
        </div>
    </ion-toolbar>
</ion-footer>